/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
      font-family: 'Open Sans', sans-serif;
  }


  /* Header Section CSS */

  header {
      margin: 0 auto;
      max-width: 351px;
      margin-bottom: 90px;
  }

  header .container {
      padding: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  header .fylo-logo {
      max-width: 80px;
      width: 100%;
  }
  header nav .nav-list{
      list-style: none;
      padding: 0;
      display: flex;
      gap: 1.5em;
  }
  header nav .nav-list .nav-list-item a{
      text-decoration: none;
      color: black;
      font-family: 'Raleway', sans-serif;
      font-size: .75em;
  }

  /* Hero Section CSS */

  main > *{
      margin: 0 auto;
  }

  .hero {
      max-width: 348px;
      margin-bottom: 143px;
  }
  
  .lockup {
      text-align: center;
  }
  .hero .container {
      width: 100%;
  }
  .hero .container > *{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .hero-img {
      max-width: 340px;
      width: 100%;
  }
  .hero .lockup > * {
      margin-bottom: 25px;
  }
  .hero .lockup {
      margin-top: 40px;
  }

  .hero-email-form  label {
      display: none;
  }
  .hero-email-form  input,
  .hero-email-form  button {
      width: 100%;
      max-width: 304px;
      min-height: 40px;
  }

  .hero-email-form  input {
      border-radius: 3px;
      font-weight: 700;
      font-size: 14px;
      border: 1px solid black;
      margin-bottom: 1rem;
  }
  .hero-email-form  ::placeholder {
      color: #C2C2C2;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Raleway', sans-serif;
      margin-left: 20px;
  }

  .hero-email-form  button {
      background-color: #2F65F8;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      font-weight: 700;
      font-size: 14px;
      cursor: pointer;
  }

  /* Productive Section CSS */

  .productive-section {
    background-color: #F8F8FE;
    position: relative;
  }

  .background-curve {
    position: absolute;
    bottom: 100%;
  }

  .productive-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    margin: 0 auto;
  }

  .productive-section .illustration-2 {
    max-width: 320px;
    width: 100%;
    margin-bottom: 90px;
  }

  .productive-section .lockup {
    margin-bottom: 40px;
  }

  .productive-section h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
  }

  .productive-section p {
    color: #615F7E;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .productive-section button {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    color: #3DA08F;
    border-top: none;
    border-inline: none;
    border-bottom: 1px solid #3DA08F;
    background-color: transparent;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }

  .productive-section .card {
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 38px 12px 19px 25px;
    max-width: 280px;
  }

  .productive-section .caption-img{
    max-width: 25px;
    width: 100%;
    border: none;
    border-radius: 50%;
  }

  .productive-section .card p {
    color: #07043B;
    font-size: 10px;
    line-height: 18px;
  }

  .productive-section .card figcaption {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .productive-section .card figcaption div{
    display: flex;
    flex-direction: column;
  }

  .productive-section .card figcaption span  {
    color: #07043B;
    font-size: 9px;
    line-height: 12px;
    font-weight: 700;
  }

  .productive-section .card figcaption cite  {
    color: #07043B;
    font-size: 6px;
    line-height: 11px;
  }

  .productive-section .quote-wrapper {
    margin-bottom: 80px;
  }
  
  .card-lockup {
    position: relative;
  }

  .quote {
    position: absolute;
    bottom: 105%;
  }

  /* Early Access Section CSS */

  .early-access {
    background-color: #575988;
    color: white;
  }

  .early-access label {
    display: none;
  }
  .early-access input,
  .early-access button {
    width: 100%;
    max-width: 240px;
    min-height: 40px;
  }

  .early-access input {
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 1rem;
    border: none;
  }
  .early-access ::placeholder {
    color: #C2C2C2;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
  }

  .early-access button {
    background-color: #2F65F8;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
  }